.btn
    padding: 15px 48px
    color: var(--color-white)
    font-size: 16px
    font-weight: 400
    font-family: Gilroy
    background-color: var(--color-blue-4)
    border-radius: 10px
    box-shadow: 5px 10px 20px 0 rgba(53, 109, 173, 0.2)
