// Galien Bold
@font-face
    font-family: 'Galien'
    src: url('public/fonts/Galien/Galien-Bold.woff2') format('woff2'), url('/fonts/Galien/Galien-Bold.woff') format('woff')
    font-weight: 700
    font-style: normal
    font-display: swap

// Gilroy Regular
@font-face
    font-family: 'Gilroy'
    src: url('public/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'), url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal
    font-display: swap

// Gilroy Semibold
@font-face
    font-family: 'Gilroy'
    src: url('public/fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'), url('/fonts/Gilroy/Gilroy-Semibold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: swap
