:root
    --color-white: #ffffff
    --color-blue-1: #1F3F68
    --color-blue-2: #316099
    --color-blue-3: #56CCF2
    --color-blue-4: #5A98D0
    --color-blue-5: #98C3E8
    --color-gray: rgba(255, 255, 255, 0.6)
    --color-blue-1-op: rgb(31, 63, 104, 0.2)
